/* header */

a.brand {
    margin-left:10px;
}
span.brand-es {
    color: #8EB1B0;
}

/* content */

div.hero-unit {
    background: #6AC;
    background-image: url('/static/images/texture/texture.png'); 
    margin-top:4em;
}

div.hero-unit h1{
    text-shadow: #554 0.1em 0.03em 01.em;
}

.pagination a {
    padding-left:12px;
    color:i;
}

.pagination a:hover{
    color:#fff;
    background-color:#464D70;
}

.modal {
    width:800px;
    word-wrap:break-word;
    background:#f5f5f5;
}

.modal-body {
    background:#fff;
}
