<!DOCTYPE html>
<html>
<head>
  <meta property="og:image" content="http://www.qcha.es/static/images/pup.png">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="qcha.es">
  <meta charset="utf-8" lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# style sheets #}
  <link rel="image_src" href="http://www.qcha.es/static/images/pup.png">
  <link rel='stylesheet' href="/static/css/bootstrap.css" type="text/css">
  <link rel='stylesheet' href="/static/css/font-awesome.css" type="text/css">
  <link rel='stylesheet' href="/static/css/bootstrap-responsive.css" type="text/css">
  <link rel='stylesheet' href="/static/css/qcha.css" type="text/css">

  {# javascript #}
  <script src="/static/js/jquery-1.7.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/qcha.js"></script>
  <script src="/static/js/google-analytics.js"></script>
  <script>
    $(document).ready(function() {
      $('#topsearch').typeahead({
          source: "/buscar/top",
        });
      $('#topsearch').focus(function() {
          $(this).val('');
        });
      $('#topsearch').bind('focusout',function() {
          $(this).val('buscar...');
        });
    {% block local_onload %}{% endblock %}
    });
  </script>
  {% block extra_head %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=163782250373006";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<a id="zoom31" href="https://www.facebook.com/pages/Q-cha-es/238821336174244" style="display:scroll;position:fixed;bottom:110px;right:10px;"> <img src="/static/images/facebook.png" border="0"></a>
<a id="zoom31" href="http://twitter.com/#!/qchaes" style="display:scroll;position:fixed;bottom:75px;right:10px;"> <img src="/static/images/twitter.png" border="0"></a>
<a id="zoom31" href="http://blog.qcha.es" style="display:scroll;position:fixed;bottom:40px;right:10px;"> <img src="/static/images/tumblr.png" alt="Tumblr de QchaEs." height="32" border="0"></a>
{% include 'header.html' %}
{% block content %}
{% endblock %}
<hr>
{% include 'footer.html' %}
</body>
</html>
