<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Qcha.<span class="brand-es">es</span></a>
        <form id='topform' class="navbar-search pull-left" action='/buscar/0/' method='get'>
          <input id='topsearch' name='b' class="search-query" type='text' value='buscar...'>
        </form>
        <ul class="nav pull-right">
          <a href='/definir/x' class="btn btn-primary">Definir Nueva Palabra</a>
          <a href='/random' class="btn btn-success">Mostrar PalabraAleatorio</a>
        </ul>
      </div>
  </div>
</div>
