{% extends 'base.html' %}
{% block title %} Que cha es? - Definiciones de jerga callejera{% endblock %}
{% block extra_scripts %}
$(document).ready(function() {
    var a = $('.row p');
    $.each(a,function(i,b){
      if ($(b).html() != " "){
        $(b).html($(b).html().replace(/[\*]{1}([a-zA-Z0-9_\sáéíóúñÁÉÍÓÚÑ]+)[\*]{1}/g,"<a href='/$1' class='interlink'>$1</a>"))
      }
    });
});
{% endblock %}

{% block content %}
<div class="container">
    <div class="hero-unit">
    <br>
        <h1 class="title">Qué cha es?</h1>
        <p>Definiciones de jerga callejera y palabras que ningún diccionario
        decente se atrevería a decirte.</p>
        <form action='/buscar/0/' method='get'>
        <input type='search' name='b' class='span4'> &nbsp;
        <input type='submit' class="btn large primary" value='Buscar'>
        </form>
    </div>

    <div class="pagination"><ul>
        {% for i in letters %}
        <li><a href="/letra/{{i}}/0/">{{ i }}</a></li>
        {% endfor %}
    </ul></div>

    {% if samples %} {# Check if at least one sample #}
    <div class='row' style='min-height:200px;'>
    {% for sample in samples %}
        <div class="span6">
            <h2 style='overflow:hidden;'>{{ sample.name|capitalize }}</h2>
            <p>{{ sample.definition.content|capitalize }}</p>
            <p><a class='btn' href='/{{ sample.name }}'>Ver definiciones</a></p>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
