{% extends 'base.html' %}
{% block title %} Que cha es? - Definiciones de jerga callejera{% endblock %}
{% block extra_scripts %}
$(document).ready(function() {
    var a = $('.row p');
    $.each(a,function(i,b){
      if ($(b).html() != " "){
        $(b).html($(b).html().replace(/[\*]{1}([a-zA-Z0-9_\sáéíóúñÁÉÍÓÚÑ]+)[\*]{1}/g,"<a href='/$1' class='interlink'>$1</a>"))
      }
    });
});
{% endblock %}

{% block content %}
<div class="container">
  <div class="hero-unit">
    <h1>¿Qué cha es?</h1>
    <p>Definiciones de jerga callejera y palabras que ningún diccionario decente se atrevería a decirte.</p>
    <form class="form-horizontal" action='/buscar/0/' method='get'>
      <input type='search' name='b' class='span4'> 
      <input type='submit' class="btn btn-large btn-primary" value='Buscar'>
    </form>
  </div>

  {# Display 3 Random Words #}
  {% if samples %} {# Check if at least one sample #}
    <div class='row' style='min-height:200px;'>
      {% for sample in samples %}
        <div class="span4">
          <h2 style='overflow:hidden;'>{{ sample.name|capitalize }}</h2>
          <p>{{ sample.definition.content|capitalize }}</p>
          <p>
            <a class='btn btn-success' href='/{{ sample.name }}'>Ver definiciones</a>
          </p>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {# Display Alphabet: Search by letter #}
  <div class="pagination">
    <ul>
      {% for letter in letters %}
        <li>
          <a href="/letra/{{ letter }}/0/">{{ letter }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}
