{% extends 'base.html' %}
{% block local_onload %}
  {# Put Spidey Here #}
{% endblock %}
{% block title %}¿Q cha es {{word}}?{% endblock %}
{% block extra_scripts %}
var RecaptchaOptions={theme:'white',lang:'es',};
$(document).ready(function(){
    $('#definition').focus(function(){
        $('img.helper').toggle();
    });
    $('#definition').bind('focusout',function() {
        $('img.helper').toggle();
    });
});
{% endblock%}
{% block content %}
<div class='row-fluid'>
  <div class='span6 offset3'>
  <h1>Escribe tu definición</h1>
      <form class="well" action='.' method='post'>
        <label for="palabra">Palabra</label>
        <div class="input">
          {{ form.entry|safe }}
          {% if form.entry.errors %}
            {% for error in form.entry.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </div>
        <label for="definicion">Definición</label>
        <div class="input">
          {{ form.definition(class="input-xlarge word-definition",rows="5")|safe }}
          {# refactor to inline if of jinja #}
          {% if form.definition.errors %}
            {% for error in form.definition.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </div>
        <label for="example">Ejemplo (opcional):</label>
          <div class="input">
            {{ form.example(class="xlarge",rows="5")|safe }}
            {% if form.example.errors %}
              {% for error in form.example.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
          </div>
          <div class='captcha'>
            {{ form.captcha }}
            {% if form.captcha.errors %}
              {{ form.captcha.errors }}
            {% endif %}
          </div>
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
      </form>
</div>
{% endblock%}
